body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
}

h1 {
    display: block;
}

/* HEADER SECTION */

#header {
    height: 70px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 7rem;
}

#header ul li {
    cursor: pointer;
}

#header-img {
    height: 60px;
    width: auto;
}

.nav-bar {
    display: none;
}

/* MAIN SECTION */

/* SECTION 1 */
.newsletter {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    margin-bottom: 20px;
    width: 250px;
    height: 25px;
}

.btn {
    background-color: yellow;
    padding: 7px 30px;
    font-size: 0.9rem;
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.newsletter h1 {
    text-align: center;
}

/* SECTION 2 */
.info {
    height: 20vw;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    padding: 10px 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row i {
    display: block;
    font-size: 3rem;
    margin-right: 40px;
    color: #FFD43B;
}

.row p {
    display: block;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.description .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.description .small-dec {
    margin: 0;
    line-height: 1.5;
}

#top-row {
    margin-top: 40px;
}














/* RESPONSIVE DESIGN */
@media (max-width: 976px) {
    #header ul {
        gap: 5rem;
    }

    #header-img {
        height: 45px;
        width: auto;
    }
}

@media (max-width: 976px) {
    .menu {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    #header {
        padding: 0 20px;
    }
}